#experience
  .container
    .row
      .col-lg-4.text-center
      .col-lg-8
        %h3
        %h4
        %h6
        %p
          Conception et développement de l’outil de gestion (CRM) basé sur
          une solution Ruby On Rails avec des modules répondant aux
          différents enjeux de l’entreprise : screener, plannings d’appels, devis,
          factures, sav, plateformes de gestion comptable et de recouvrement,
          référencement produits, système de communication interne entre les
          différents services, e-mailing automatique pour les relances.
          Gestion des leads via une application développée en Ruby On Rails :
          récupération de fichiers en CSV, intégration dans la base de données,
          répartition des leads aux commerciaux selon plusieurs filtres via API.
          Formation du personnel à l’utilisation des différents outils mis en
          place.
          Mise en place de systèmes d’automatisation des tâches et de micro
          services.
          GIT, Linux Référencement des produits, gestion des SAV et stocks.
          Slack, Trello Fonction de DPO.
