#portfolio
  .row
    .col-lg-12.text-center.mb-5
      %h3.title-lg Portfolio
  .row
    .col-lg-4.d-flex
      .img-container
        .layer-portfolio
        = image_tag 'home-1.jpg', class: 'portfolio-img'
      .title-portfolio.text-white{class:"align-items-center d-flex justify-content-center"}
        %span.bold Ma
        tuvu

    .col-lg-4.d-flex
      .img-container
        .layer-portfolio
        = image_tag 'home-1.jpg', class: 'portfolio-img'
      .title-portfolio.text-white{class:"align-items-center d-flex justify-content-center"}
        %span.bold C
        V

    .col-lg-4.d-flex
      .img-container
        .layer-portfolio
        = image_tag 'home-1.jpg', class: 'portfolio-img'
      .title-portfolio.text-white{class:"align-items-center d-flex justify-content-center"}
        %span.bold R
        TFM
