#portfolio
  .container
    .row
      .col-lg-12.text-center.mb-5
        %h3.title-lg Portfolio
    .row
      .col-md-6.grid.wow.bounceInDown
        %figure.effect-chico
          %img
            = image_tag 'layers/home-1.jpg', class: 'portfolio-img'
          -# .layer-portfolio
          %figcaption
            %h2
              MATUVU
            %p Site web démo pour agence web. RoR. Bootstrap.
            %a.btn.btn-theme{:href => "/website", target: "_blank"} VOIR
      .col-md-6.grid.wow.bounceInRight
        %figure.effect-chico
          %img
            = image_tag 'layers/minimal3.jpg', class: 'portfolio-img'
          -# .layer-portfolio
          %figcaption
            %h2
              CURRICULUM
            %p Vous y êtes ! Ceci est mon CV. RoR. Bootstrap.
            %a.btn.btn-theme.no_cursor VOUS Y ÊTES
      .col-md-6.grid.wow.bounceInUp
        %figure.effect-chico
          %img
            = image_tag 'layers/minimal.jpg', class: 'portfolio-img'
          -# .layer-portfolio
          %figcaption
            %h2
              DAILY TECH
            %p Application web pour poster des articles sur des veilles technologiques. PHP
            %a.btn.btn-theme.no_cursor WIP
