#skills
  .container
    .row
      .col-lg-12.text-center.mb-5
        %h3.title-lg Langages et frameworks
  .skills-background
    .layer-skills
    .container
      .row
        .col-lg-3.light-card.skill-card.d-flex
          %div{class:"align-items-center d-flex justify-content-center"}
            %span.bold RUBY
            %span ON RAILS
        .col-lg-3.dark-card.skill-card.d-flex
          %div{class:"align-items-center d-flex justify-content-center"}

            %span.bold HTML
            5
            %br
            %span.bold CSS
            3
        .col-lg-3.light-card.d-flex.skill-card
          %div{class:"align-items-center d-flex justify-content-center"}
            %span.bold J
            QUERY
        .col-lg-3.dark-card.d-flex.skill-card
          %div{class:"align-items-center d-flex justify-content-center"}
            %span.bold MY
            SQL

        .col-lg-3.dark-card.skill-card.d-flex
          %div{class:"align-items-center d-flex justify-content-center"}
            %span.bold PHP
        .col-lg-3.light-card.skill-card.d-flex
          %div{class:"align-items-center d-flex justify-content-center"}
            %span.bold WORD
            PRESS
        .col-lg-3.dark-card.skill-card.d-flex
          %div{class:"align-items-center d-flex justify-content-center"}
            %span.bold BOOT
            STRAP
        .col-lg-3.light-card.d-flex.skill-card
          %div{class:"align-items-center d-flex justify-content-center"}
            %span.bold MA
            TERIALIZE
