#skills
  .container
    .row
      .col-lg-12.text-center
        %h3.title-lg.mb-5.wow.fadeInDown Langages et frameworks
  .skills-background
    .layer-skills
    .container
      .row
        .col-lg-3.col-6.light-card.skill-card.d-flex
          %div{class:"align-items-center d-flex justify-content-center"}
            %h6.wow.fadeInLeft
              RUBY ON RAILS
        .col-lg-3.col-6.dark-card.skill-card.d-flex
          %div{class:"align-items-center d-flex justify-content-center"}
            %h6.wow.fadeInLeft
              HTML 5
              %br
              CSS 3
        .col-lg-3.col-6.light-card.d-flex.skill-card
          %div{class:"align-items-center d-flex justify-content-center"}
            %h6.wow.fadeInLeft
              JQUERY
        .col-lg-3.col-6.dark-card.d-flex.skill-card
          %div{class:"align-items-center d-flex justify-content-center"}
            %h6.wow.fadeInLeft
              MYSQL

        .col-lg-3.col-6.dark-card.skill-card.d-flex
          %div{class:"align-items-center d-flex justify-content-center"}
            %h6.wow.fadeInLeft
              PHP
        .col-lg-3.col-6.light-card.skill-card.d-flex
          %div{class:"align-items-center d-flex justify-content-center"}
            %h6.wow.fadeInLeft
              WORDPRESS
        .col-lg-3.col-6.dark-card.skill-card.d-flex
          %div{class:"align-items-center d-flex justify-content-center"}
            %h6.wow.fadeInLeft
              BOOTSTRAP
        .col-lg-3.col-6.light-card.d-flex.skill-card
          %div{class:"align-items-center d-flex justify-content-center"}
            %h6.wow.fadeInLeft
              MATERIALIZE
