#skills
  .container
    .row
      .col-lg-12.text-center
        %h3.title-lg.light Langages et frameworks
  .skills-background
    .layer-skills
    .container
      .row
        .col-lg-3.light-card.skill-card.d-flex.col-sm-6
          %div{class:"align-items-center d-flex justify-content-center"}
            .wow.fadeInDown RUBY ON RAILS
        .col-lg-3.dark-card.skill-card.d-flex.col-sm-6
          %div{class:"align-items-center d-flex justify-content-center"}
            HTML5  CSS3
        .col-lg-3.light-card.d-flex.skill-card.col-sm-6
          %div{class:"align-items-center d-flex justify-content-center"}
            JQUERY
        .col-lg-3.dark-card.d-flex.skill-card.col-sm-6
          %div{class:"align-items-center d-flex justify-content-center"}
            MYSQL
      .row
        .col-lg-3.dark-card.skill-card.d-flex.col-sm-6
          %div{class:"align-items-center d-flex justify-content-center"}
            PHP
        .col-lg-3.light-card.skill-card.d-flex.col-sm-6
          %div{class:"align-items-center d-flex justify-content-center"}
            WORDPRESS
        .col-lg-3.dark-card.skill-card.d-flex.col-sm-6
          %div{class:"align-items-center d-flex justify-content-center"}
            BOOTSTRAP
        .col-lg-3.light-card.d-flex.skill-card.col-sm-6
          %div{class:"align-items-center d-flex justify-content-center"}
            MATERIALIZE

#tools
  .container
    .row
      .col-lg-12.text-center
        %h2.title-lg Outils et environnement
        -# %p Ce que j'utilise pour l'organisation de mes projets

#tools-panel
  .container
    .row

      .col-lg-3
        .tool-card
          = image_tag "git.png", class: "tool-icon"
          %h5 Git

      .col-lg-3
        .tool-card
          = image_tag "slack.png", class: "tool-icon"
          %h5 Slack

      .col-lg-3
        .tool-card
          = image_tag "trello.png", class: "tool-icon"
          %h5 Trello

      .col-lg-3
        .tool-card
          = image_tag "linux.png", class: "tool-icon"
          %h5 Linux
