/* button theme settings */
.btn-theme {
  background: var(--theme-light);
  color: #FFF;
}

.btn {
  border-radius: 0px;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);
  cursor: pointer;
}

.btn-theme:hover {
  background: var(--theme-dark);
  color: #FFF !important;
}

.btn-theme-outline:hover {
  color: var(--theme-dark) !important;
  border: 2px solid var(--theme-dark);

}

.btn-theme-outline {
  border: 2px solid var(--theme-light);
  background: transparent;
  color: var(--theme-light) !important;
}


@media screen and (min-width: 0px) and (max-width: 992px) {
  .btn {
    padding: 10px 20px;
    font-size: 13px;
  }
}
@media screen and (min-width: 1200px)  {
  .btn {
    padding: 10px 26px;
    margin-top: 40px;

  }
}
