/* button theme settings */
.btn-theme {
  background: var(--theme-light);
  color: #FFF;
  border: 2px solid var(--theme-light);
}

.btn {
  border-radius: 0px;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);
  cursor: pointer;
  font-weight: 100;
}

.btn-theme:hover,
.btn-theme-outline:hover {
  background: var(--theme-dark);
  color: #FFF !important;
  border: 2px solid var(--theme-dark);

}


.btn-theme-outline {
  border: 2px solid var(--theme-light);
  background: transparent;
  color: var(--theme-light) !important;
}

.icon-contact {
  width: 20px;
}

.contact-buttons {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.contact-buttons .btn {
  margin: 16px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .btn {
    padding: 10px;
    font-size: 13px;
  }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .btn {
    padding: 10px;
  }
}
