/* section contact */
#contact {
  margin-top: 160px;
}

/* contact form settings, with inputs and textarea, valid, invalid and errors */
.form-control, textarea  {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #777;
  margin-top: 40px;
  border: 1px solid #333;
  padding: 20px;
  font-weight: 300;
}

.form-control::placeholder {
  color: #777;
}

.form-control:focus {
  border: 0;
  border-radius: 0;
  background: transparent;
  color: #FFF;
  border: 1px solid #777;

}

textarea:focus {
    box-shadow: none !important;
}

input:invalid {
    box-shadow: none !important;
}

input:valid, textarea:valid {
  box-shadow: none !important;
  border: 1px solid #777;
  color: var(--light-grey);
}

label.error {
  color: var(--theme-light);
  position: absolute;
  bottom: -26px;
  font-weight: 500;
  font-size: 12px;
}

/* image, submit, and svg settings */
.image-contact {
  position: absolute;
  background: image-url("layers/minimal-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
}

.submit,
.sent-content {
  margin-top: 40px;
}

.baniere {
  background: var(--theme-light);
  width: 100%;
  bottom: 0;
  left:0;
  padding: 30px;
}

.contact-buttons-container {
  min-height: 180px;
}

@media(max-width: 767px){
  .contact-form {
    padding: 40px 20px !important;
  }
  .contact-item {
    margin: 20px 0px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 768px) {
  .contact-form {
    padding: 80px 60px;
  }
}
