#experience {
  color: #fff;
  margin-top: 160px;
  padding: 100px 0px;
  background: #cca22e;
}
#experience p {
  /* text-align: justify; */
  font-weight: 300 !important;
}

#experience h6 {
  font-weight: 100 !important;
}


.experience-title {
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: var(--theme-light);
}

.location-title {
  font-weight: 100;
  font-size: 1em;
}

.tag {
  padding: 6px 10px;
  margin-top: 5px;
  font-size: 12px;
  width: auto;
  display: inline-block;
  font-weight: 300;
}

.tag-light {
  background: #FFF;
  color: #555555;
}

.tag-dark {
  color: #FFF;
  background: var(--theme-light);
  /* background: #666666 !important; */
}

.resume-card {
  margin-bottom: 40px;
}

#education {
  padding: 100px 0px;
  color: #fff;

}

@media (min-width: 0px) and (max-width: 575.98px) {
  .card-experience {
    padding: 20px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {

}
