.location-date{
  background: var(--theme-dark);
}

.experience-title {
  font-weight: 500;
  font-size: 1em;
  text-transform: capitalize;
}

.location-title {
  font-weight: 300;
  text-transform: uppercase;
}

.tag {
  padding: 6px 10px;
  margin-top: 5px;
  font-size: 13px;
  width: auto;
  display: inline-block;
  font-weight: 300;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);
  background: var(--theme-light);
  color: #FFF;
}

.resume-card {
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);
  margin-bottom: 20px;
}

.description p {
  white-space: pre-line;
}

#experience {
  margin-bottom: 180px;
}


@media(max-width: 767px){
  .location-date,
  .description {
    padding: 40px 20px;
  }

  .description p {
    font-size: 0.8em;
  }

  .location-title {
    font-size: 1em;
  }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 768px) {
  .location-date,
  .description {
    padding: 40px;
  }
  .location-title {
    font-size: 1em;
  }
}
