/* home settings, image on backgroung */
#home {
  height: 100vh;
  overflow: hidden;
}

.image-home {
  position: absolute;
  background: image-url("layers/home-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
}

/* description */
#home .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#home p{
  color: #e0e0e0 !important;
}

.home-logo {
  width: 300px;
}

.name {
  color: #FFF;
  font-weight: 800;
  margin-bottom: 60px;
  letter-spacing: 0.2em;
}

.ml {
  font-weight: 600 !important;
  margin-bottom: 60px;
  color: #FFF !important;
}

.caroussel {
  position: relative;
  width: 240px;
  height: 240px;
}

.caroussel > span {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 10px;
}

@media (min-width: 0px) and (max-width: 575.98px) {
  .name {
    font-size: 2.6em;
  }
  .ml {
      font-size: 1.2em;
  }
  #home .container {
    padding-left: 40px;
  }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .name {
    font-size: 5em;

  }
  .ml {
      font-size: 2.6em;
      letter-spacing: 0.2em;
  }
}
