/* home settings, image on backgroung */
#home {
  height: 100vh;
  background-image: image-url('layers/home-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: #FFF;
}


/* description */
#home .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#home p{
  color: #e0e0e0 !important;
}

.home-logo {
  width: 300px;
}

.name {
  color: var(--light-grey);
  font-weight: 100;
  margin-bottom: 60px;
  letter-spacing: 0.2em;
}

.ml {
  font-weight: 200 !important;
  margin-bottom: 60px;
}

.ml span {
  font-weight: 600;
}


/* svg mouse keyframes */
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

svg #wheel {
	animation: scroll ease 2s infinite;
}

svg {
  width: 20px;
}

.svg-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caroussel {
  position: relative;
  width: 240px;
  height: 240px;
  // color: var(--theme-light) !important;
}

.caroussel > span {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 10px;
}



@media (min-width: 0px) and (max-width: 575.98px) {
  .name {
    font-size: 2.6em;
  }
  .ml {
      font-size: 1.2em;
  }
  #home .container {
    padding-left: 40px;
  }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .name {
    font-size: 5em;

  }
  .ml {
      font-size: 2.6em;
      letter-spacing: 0.2em;
  }
}
