/* set dark and light navbar styles, change when scroll */
.navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 0;
}

.navbar-transparent {
  background: transparent !important;
  background: linear-gradient(rgba(50,50,51,12)) !important;
  transition: 0.2s ease;
}

.navbar-light {
  background: #FFF !important;
  transition: 1s ease;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.22);
}

#navbar .navbar-light .nav-link {
  color: #222222 !important;

}
/* navbar links on right style */
#navbar .nav-link.active,
#navbar .nav-link:hover  {
  background: var(--theme-light) !important;
  transition: 0.2s ease;
}

#navbar .nav-link {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 20px 40px 20px 40px !important;
  // border-right: 1px solid var(--theme-light);
  color: #FFF !important;
  font-size: 14px !important;
}

/* set navbar brand style */
.navbar-brand {
  letter-spacing: -2px;
  font-size: 1.8em !important;
  color: #FFF !important;
  padding: 0;
}

.brand-resume {
  font-family: 'Share Tech' !important;
}

.navbar-logo {
  width: 40px;
  margin-right: 10px;
  color: #FFF;
}
