/* set dark and light navbar styles, change when scroll */
.navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-transparent {
  background: transparent !important;
  transition: 1s ease;
}

.navbar-light {
  background: #FFF;
  transition: 1s ease;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);
}

/* navbar links on right style */

.navbar-light .nav-link {
  color: #6D788F !important;
}
.nav-link.active,
.nav-link:hover  {
  color: var(--theme-light) !important;
}

.nav-link {
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Baloo 2';
  font-weight: 300;
  letter-spacing: 0.2em;
}

/* set navbar brand style */

.navbar-brand {
  font-family: 'Baloo 2' !important;
  letter-spacing: -2px;
  border-radius: 50%;
  font-size: 30px !important;
  color: var(--theme-light);
  width: 300px;
}

.navbar-brand:hover {
  color: var(--theme-light) !important;
}

.navbar-light .navbar-brand {
  color: var(--theme-light);
}

.navbar-logo {
  width: 50px;
  margin-right: 10px;
}
