/* set dark and light navbar styles, change when scroll */
.navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-transparent {
  background: linear-gradient(rgba(50,50,51,12)) !important;
  transition: 0.2s ease;
  color: #FFF !important;
}

.navbar-light {
  background: var(--theme-dark) !important;
  background: #161616 !important;
  transition: 1s ease;
}

.navbar-light .nav-link {
  color: #FFF !important;
}

/* navbar links on right style */
#navbar .nav-link.active,
#navbar .nav-link:hover  {
  background: var(--theme-light) !important;
  transition: 0.2s ease;
  color: #FFF !important;
}

#navbar .nav-link {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 30px 20px !important;
  font-size: 14px !important;
  font-weight: 300 !important;
}

/* set navbar brand style */
.brand-resume {
  font-size: 1.3em !important;
  color: #FFF !important;
  border: 2px solid #FFF;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.brand-website {
  color: #FFF !important;
  font-size: 1.5em !important;
  padding: 20px 0px;
}

.navbar-logo {
  width: 40px;
  margin-right: 10px;
  color: #FFF;
}

.navbar-transparent .navbar-toggler-icon,
.navbar-light .navbar-toggler-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(107%) contrast(104%) !important;
}

.navbar-toggler {
  border: none;
}
