/* set dark and light navbar styles, change when scroll */
.navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-transparent {
  background: transparent !important;
  background: linear-gradient(rgba(50,50,51,12)) !important;
  transition: 0.2s ease;
}

.navbar-light {
  background: var(--theme-dark) !important;
  transition: 1s ease;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.22);
}

#navbar .navbar-light .nav-link {
  color: #222222 !important;

}
/* navbar links on right style */
#navbar .nav-link.active,
#navbar .nav-link:hover  {
  background: var(--theme-light) !important;
  transition: 0.2s ease;
}

#navbar .nav-link {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 30px 20px !important;
  color: #FFF !important;
  font-size: 14px !important;
}

/* set navbar brand style */
.navbar-brand {
  font-size: 1.3em !important;
  color: #FFF !important;
  border: 2px solid #FFF;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.navbar-toggler-icon {

  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(107%) contrast(104%) !important;

}

.navbar-toggler {
  border: none;
}
