/* Common style */
.grid {
	margin-bottom: 15px;
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	min-width: 100%;
	max-height: 100%;
	background: rgba(48,48,48,0.8);
	text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.4;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	white-space: nowrap;
	opacity: 0;
	color: #FFF;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.grid figure h2 {
	font-weight: 500;
}


.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
  color: #FFF;
}

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption {
	padding: 3em;
}


figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
	padding: 20% 0 20px 0;
}

figure.effect-chico p {
	margin: 0 auto;
	font-size: 0.9em;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p,
figure.effect-chico:hover a {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}



@media (min-width: 0px) and (max-width: 575.98px) {
	.grid figure h2 {
		font-size: 1em;
		letter-spacing: 0.3em;
	}
}

figure.effect-chico p {
	max-width: 300px;
	font-size: 0.7em;
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width:  992px) {
	.grid figure h2 {
		font-size: 1.2em;
		letter-spacing: 0.5em;
	}

	figure.effect-chico p {
		max-width: 300px;
		font-size: 0.9em;
	}
}
