.section-progress {
  margin-bottom: 20px;
}

.progress-bar {
  background: var(--theme-dark) !important;
}

.progress {
  height: 6px !important;
  background: #f2f2f2 !important;
}

.percent {
  font-size: 12px;
  float: right;
}

.skills-section {
  box-shadow: 0 8px 60px 0 rgba(103,151,255,.11),0 12px 90px 0 rgba(103,151,255,.11);
  overflow: hidden;
}

.skills span {
  font-weight: 600;
  color: #0C2742;
}

/* #skills {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: -250px;
} */

.section-skills {
  padding: 60px !important;
}

.about {
  background: #28C6B8;
  color: #FFF;
}

#skills img {
  position: absolute;
  width: 100%;
}

.layer-skills {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--linear);
}

@media screen and (max-width: 992px) {
  .section-about {
    display: none;
  }
}
