/* quality settings */
#quality {
  padding-top: 150px;
}

.quality-card {
  position: relative;
  text-align: center;
  padding: 46px;
  height: 100%;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);

}

.quality-card h5 {
  font-size: 18px;
  margin: 0;
  display: block;
  margin-bottom: 26px;
  font-weight: 600;
  position: relative;
  text-transform: capitalize;
}

.quality-icon {
  width: 56px;
  margin-bottom: 26px;
}
