/* services settings */
#services {
  margin-top: 160px;
  padding-bottom: 160px;
  background: var(--light-grey);
}

.service-card {
  position: relative;
  text-align: center;
  padding: 46px;
  height: 100%;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);
}

.margin-card {
  margin-bottom: 40px !important;
}

.service-icon {
  width: 56px;
  margin-bottom: 26px;
}

.service-card h5 {
  font-size: 18px;
  margin: 0;
  display: block;
  margin-bottom: 26px;
  font-weight: 600;
  position: relative;
  font-family: 'Share Tech';
  font-family: 'Montserrat';

  text-transform: capitalize;
}
