.skills-background {
  background-image: image-url('layers/minimal3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.align-items-center{
  width: 100%;
}
.skill-card:hover{
  background: var(--theme-light);
}

.layer-skills {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(48,48,48,0.8);
}

.skill-card {
  letter-spacing: 0.5em;
  text-align: center !important;
  color: white;
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: 16px;
  height: 160px;
}

#skills h6 {
  font-weight: 500;
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width:  992px) {
  .skill-card {
    font-size: 1em;
    height: 260px;
  }
}
