/* all titles of application settings */
.title-lg {
  z-index: 0.1em;
  z-index: -1;
  /* letter-spacing: 0.2em; */
  display:inline-block;
  font-weight: 600 !important;
  color: #333333;
  padding-bottom: 5px;

}

.light {
  color: #FFF;
}

.title-margin {
  margin-bottom: 60px;
}


/* .title-lg:before {
  content: "";
  width: 30px;
  height: 4px;
  background-color: var(--theme-dark);
  position: absolute;
  top: -10px;
}
 */


.title-lg::after {
  content: "";
  display: block;
  border-bottom: 3px solid var(--theme-dark);
  width: 30px;
  position: relative;
  bottom: -6px; /* your padding + border-width */
}
