/* all titles of application settings */
.title-lg {
  z-index: 0.1em;
  z-index: -1;
  display:inline-block;
  font-weight: 500 !important;
  color: #333333;
  padding-bottom: 6px;
}

.light {
  color: #FFF;
}

.title-margin {
  margin-bottom: 60px;
}

.title-lg::after {
  content: "";
  display: block;
  border-bottom: 3px solid var(--theme-light);
  width: 30px;
  position: relative;
  bottom: -6px; /* your padding + border-width */
}
