#tools {
  padding-top: 150px;
  /* background: #232426;
  background: #8C8C8C; */
}

.tool-card {
  text-align: center;
  padding: 20px;

}

.tool-icon {
  width: 44px;
  height: 44px;
  margin-bottom: 20px;
  opacity: 0.5;
  /* filter: invert(82%) sepia(52%) saturate(461%) hue-rotate(348deg) brightness(92%) contrast(90%); */
}

.tool-card h5 {
  font-size: 14px;
  margin-bottom: 26px;
  text-transform: capitalize;
  color: var(--theme-light);
}

#tools-panel {
  /* background: #F9F9FF;
  background: #232426; */
  padding: 100px 0px 100px 0px;
}
