.btn-theme {
  background: var(--theme-light);
  color: #FFF;
  padding: 10px 26px;
  font-family: 'Share Tech';
  font-size: 20px;
  border-radius: 0px;
  margin-top: 40px;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);
}

.btn-theme:hover {
  background: var(--theme-dark);
  color: #FFF;
}
