#contact {
  margin-top: 160px;
}

.image-contact {
  position: relative;
  background: url("minimal3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background: var(--theme-dark); */
}

.contact-form {
  padding: 150px;
}

.form-control, textarea  {
  font-family: 'Baloo 2';
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: var(--light-grey);
  padding: 20px 0px;
  font-size: 18px;
  margin-top: 40px;
  border-bottom: 3px solid #525c6d;
  font-weight: 400;

}

.form-control::placeholder {
  color: #525c6d;
  font-size: 18px;
  font-weight: 400;

}

.form-control:focus {
  border: 0;
  border-radius: 0;
  background: transparent;
  color: var(--light-grey);
  border-bottom: 3px solid #36435b;
  border-bottom: 3px solid var(--theme-dark);
  border-bottom: 3px solid #d5d5e5;


}
textarea:focus {
    box-shadow: none !important;

}

input:invalid {
    box-shadow: none !important;
}

input:valid, textarea:valid {
  box-shadow: none !important;
  border-bottom: 3px solid #FBB03B;
  /* border-bottom: 3px solid #309bff;
  border-bottom: 3px solid #47d8b3; */
}

.loading-svg {
  width: 50px;
}

.submit {
  width: 180px;
  margin-top: 40px;
}

label.error {
  font-size: 16px;
  font-family: 'Baloo 2';
  font-weight: 600;
  color: var(--theme-light);
  margin-top: 10px;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  .image-contact {
    height: 400px;
  }
}
