#home {
  height: 100vh;
  background-image: url('home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: #FFF;
  position: relative;
  text-align: center;
}


.background-home {
  background: #A2B0C1;
  height:100%;
  width: 40%;
  position: absolute;
  top: 0;
}

.home-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 100px 0px;
}

.name-header {
  text-transform: capitalize;
  font-size: 5em;
  position: relative;
  display: inline-block;
  font-family: 'Cedarville Cursive';
  /* font-family: 'Share Tech', sans-serif; */
  /* letter-spacing: 0.2em; */
  margin-bottom: 40px;
}


.title-header {
  font-size: 2em;
  font-weight: 400;
  font-size: 3em;
  font-family: 'Share Tech', sans-serif;
  margin-bottom: 80px;
}

.theme-2-color {
  color: var(--theme-dark);
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

svg #wheel {
	animation: scroll ease 2s infinite;

}

// Default stuff.
*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.svg-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
