#home {
  height: 100vh;
  /* border-bottom-left-radius: 50% 20%; */
  /* border-bottom-right-radius: 50% 20%; */
  background-image: url('home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: #FFF;
  position: relative;
  text-align: center;
}


.background-home {
  background: #A2B0C1;
  height:100%;
  width: 40%;
  position: absolute;
  top: 0;
}

.home-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 100px 0px;
}

.name-header {
  text-transform: capitalize;
  /* letter-spacing: 0.3em; */
  font-size: 2.5em;
  /* margin-bottom: 20px !important; */
  position: relative;
  display: inline-block;
  font-family: 'Cedarville Cursive';
  margin-bottom: 40px;

}

.home-img {
  position: absolute;
  top: 0;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(107%) contrast(104%);
  filter: invert(77%) sepia(32%) saturate(3304%) hue-rotate(117deg) brightness(93%) contrast(101%); */
  filter: invert(73%) sepia(14%) saturate(323%) hue-rotate(173deg) brightness(94%) contrast(89%);
  width: 40%;
}


.title-header {
  font-size: 2em;
  font-weight: 400;
  font-size: 5em;
  font-family: 'Share Tech', sans-serif;
  margin-bottom: 60px;
}

.theme-2-color {
  color: var(--theme-dark);
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

svg #wheel {
	animation: scroll ease 2s infinite;

}

// Default stuff.
*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.svg-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
