#quality {
  padding-top: 150px;
}

.quality-card {
  position: relative;
  text-align: center;
  padding: 46px;
  height: 100%;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);

}

.quality-card h5 {
  font-size: 22px;
  margin: 0;
  display: block;
  margin-bottom: 26px;
  font-weight: 300;
  position: relative;
  font-family: 'Share Tech';
}

.quality-icon {
  width: 56px;
  margin-bottom: 26px;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  svg {
    width: 20px;
  }
  p {
    font-size: 14px !important;
  }
  .ml3 {
    font-size: 2em;
  }
  .btn-theme {
    padding: 10px;
    font-size: 18px;
  }
  .container {
    padding: 0;
  }
  .center-sm {
    text-align: center;
  }
  .visible-img {
    display: none;
  }

  .visible-card,
  .service-card,
  .quality-card,
  .contact-form {
    padding: 40px !important;
  }

  .margin-sm {
    margin-top: 0 !important;
  }

  #contact {
    margin-top: 0;
  }

  #services {
    margin-top: 60px !important;
  }
}
