#quality {
  margin-top: 250px;
}
.text {
  line-height: 2em;
  font-size: 14px;
  /* color: #FFF; */
  font-weight: 400;
  margin-top: 0;
}

.quality-box {
  /* background: var(--theme-dark); */
  padding: 50px;
  text-align: center;
}

.quality-box h5 {
  font-size: 16px;
  margin: 0;
  display: block;
  padding-bottom: 40px;
  font-weight: 600;
  position: relative;
  /* color: var(--theme-dark); */
}

.quality-box h5:after {
  content: '';
  width: 10%;
  height: 2px;
  background: var(--theme-dark);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quality-icon {
  width: 42px;
  margin-bottom: 24px;
  /* filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(107%) contrast(104%); */
  filter: invert(77%) sepia(32%) saturate(3304%) hue-rotate(117deg) brightness(93%) contrast(101%);

}
.layer-color {
  background: #dfdfe1;
}

.quality-background {
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);
}
/* .quality-box-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
} */
@media screen and (min-width: 0px) and (max-width: 992px) {
  .quality-img {
    height: auto;
    width: 100%;
  }

  .quality-card {
    width: 100%;
    height: 400px;
  }

  .quality-card h5 {
    width: 40%;
  }
}
