@import 'partials/about.css' screen;
@import 'partials/experience.css' screen;
@import 'partials/home-resume.css' screen;
@import 'partials/portfolio.css' screen;
@import 'partials/skills.css' screen;
@import 'partials/tools.css' screen;

/* set root variables */
:root {
  --light-grey: #F8F8F8;
  --theme-dark: #C2554F;
  --theme-light: #D79922;


  --linear-bg: linear-gradient(to bottom left,rgba(72,72,72,0.7),rgba(30,30,30,1)) ;
}

section {
  margin-bottom: 180px;
}

p {
  font-size: 0.85em;
  line-height: 2em !important;
  font-weight: 300 !important;
  color: #3B3B3B;
}

/* .layer {
  background: var(--linear-bg) !important;
  height: 100%;
  width: 100%;
  position: absolute;
} */
