@import 'partials/about.css' screen;
@import 'partials/experience.css' screen;
@import 'partials/tools.css' screen;
@import 'partials/skills.css' screen;
@import 'partials/titles-resume.css' screen;
@import 'partials/navbar.css' screen;
@import 'partials/contact.css' screen;
@import 'partials/home-resume.css' screen;
@import 'partials/portfolio.css' screen;



body {
  background: var(--light-grey) !important;
}

.bold {
  font-weight: 600;
}
