#services {
  margin-top: 160px;
  padding-bottom: 160px;
  background: var(--light-grey);
}

.service-card {
  overflow: hidden;
  padding: 40px;
  box-shadow: 0px 3px 20px 0px rgba(117,140,160,0.12);
  height: 100%;
  position: relative;
  color: #486066;
}


.service-icon {
  width: 42px;
  margin-bottom: 24px;
}

.service-card h5 {
  font-size: 22px;
  margin: 0;
  display: block;
  margin-bottom: 26px;
  font-weight: 300;
  position: relative;
  font-family: 'Share Tech';
  text-transform: capitalize;
}
