
/* h2:before {
  content: '';
  height: 2px;
  width: 10%;
  position: absolute;
  bottom: 0;
} */

h1 {
  font-weight: 900 !important;
}

.title-lg {
  z-index: 0.1em;
  z-index: -1;
  /* letter-spacing: -2px; */
  /* text-transform: uppercase; */
  display:inline-block;
  font-weight: 600 !important;
  margin-bottom: 50px;
  font-family: 'Share Tech';
  color: #2B3443;
  font-size: 2em;
}

.light {
  color: var(--light-grey);
}

.dark {
  color: #0C2742;
}


.title-sm {
  color: var(--theme-dark);
  margin: 0;
  font-weight: 600 !important;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
  display: block;
}
.title-sm.light {
  color: var(--theme-light);

}
