/* import needed stylesheets */
@import 'partials/home.css' screen;
@import 'partials/buttons.css' screen;
@import 'partials/contact.css' screen;
@import 'partials/home.css' screen;
@import 'partials/quality.css' screen;
@import 'partials/navbar.css' screen;
@import 'partials/services.css' screen;
@import 'partials/website.css' screen;
@import 'partials/titles.css' screen;
