#home
  .layer
    .svg-container
      = render 'layouts/svg_mouse.html.haml'
  .container
    .row
      .col-lg-8
        .home-content
          %h1.ml.wow.fadeInLeft
            VOUS VOULEZ
            %span.caroussel
              %span UN SITE WEB
              %span ÊTRE VISIBLE
              %span DU SUR MESURE
    .row
      .col-lg-4
        -# %a.btn.btn-theme.contact-btn-home.wow.fadeInDown{'data-wow-offset': 0, href: "#contact"} Me contacter
        %p.wow.fadeInRight
          Matuvu vous accompagne dans la création ou la refonte de votre site web adapaté à votre métier.
          Vous voulez une solution intuitive, évolutive et maintenable, je suis à votre écoute pour réaliser votre projet.
    .row
      .col-lg-8
        %a.btn.btn-theme.wow.fadeInLeft{href: '#contact', 'data-wow-offset': 0} Me contacter
        %a.btn.btn-theme.wow.fadeInLeft{href: '/resume', target: '_blank', 'data-wow-offset': 0} Voir mon CV
