#services
  .container
    .row
      .col-lg-12.text-center
        %h5.title-sm.wow.fadeInDown Mes services
        %h3.title-lg.mb-5 Du sur mesure pour vos projets
    .row
      .col-lg-4.col-md-6.col-sm-12.mb-4
        .service-card.theme-dark-bg.text-white.wow.bounceInLeft
          .background-service
            = image_tag "services/network.png", class: "service-icon icon-white"
            .service-content
              %h5.service-item sites vitrine
              %p.light Soyez visible sur le web grâce à un site vitrine sur mesure, mettant en avant vos produits, services et valeurs.
      .col-lg-4.col-md-6.col-sm-12.mb-4
        .service-card.lighter-grey-bg.wow.bounceInDown
          .background-service
            = image_tag "services/support.png", class: "service-icon icon-theme"
            .service-content
              %h5.service-itemapplications Applications web
              %p Optimisez et automatisez vos tâches du quodidien à travers un développement spécifique à vos besoins.
      .col-lg-4.col-md-6.col-sm-12.mb-4
        .service-card.white-bg.wow.bounceInRight
          .background-service
            = image_tag "services/layers.png", class: "service-icon icon-theme"
            .service-content
              %h5.service-item intégration
              %p Traduction de maquettes graphiques en code, assemblant tous les &#xE9;lements de la mise en page du site web de fa&#xE7;on optimale.
