#website
  .layer
  .row
    .col-lg-6.website-img
    .col-lg-6
      .visible-card.darker-bg.text-white

        %h5.title-sm.light.wow.fadeInDown Soyez visible
        %h3.title-lg.light.mb-5 Un investissement sur le long terme
        %p
          Aujourd'hui, presque 90% des français se fient à leurs recherches sur le web avant d'acheter un service ou un produit.
          %br
          Votre site vitrine, c’est une porte de communication et de présentation pour vous, ce que vous faites et vos valeurs, disponible en tout temps et accessible de partout.
          %br
          Le simple fait d'exister sur le web augmente votre notoriété et renforce votre crédibilité.
          %br
        %br
        %strong
          %a.btn.btn-theme.wow.fadeInDown{href: "#contact"} Parlez moi de votre projet
