#about.section
  .layer
    .container
      .row
        .col-lg-12.about-content
          .card-about
            .row
              .col-lg-5
                .about-img-container-back
                  %img.about-img{:alt => "", :src => "assets/images/about-back.jpg"}
                  .about-img-container-front.rellax{"data-rellax-speed" => "1"}
                    %img.about-img{:alt => "", :src => "assets/images/about.jpg"}
              .col-lg-7
                .about-content
                  %h5.title-sm &#xE0; propos
                  %h3.title-lg.dark.poetry Faites de la place dans un coin de votre esprit et la cr&#xE9;ativit&#xE9; va imm&#xE9;diatement le remplir.
                  %p
                    Le Web nous offre aujourd'hui un espace de libert&#xE9; cr&#xE9;atif et d'expression.
                    C'est avant tout ce qui me passionne dans cet univers o&#xF9; nous sommes au coeur du Language,
                    mati&#xE8;re premi&#xE8;re qui donne vie &#xE0; nos id&#xE9;es et nos projets, qu'ils soient simples ou compl&#xE8;tement d&#xE9;lirants...
                    %br
                      Son &#xE9;volution constante anime mon envie d'apprendre, de cr&#xE9;er, d'am&#xE9;liorer, d'optimiser les techniques de d&#xE9;veloppement et de design, afin de concr&#xE9;tiser ces projets de la fa&#xE7;on la plus adapt&#xE9;e possible.
                    %span.btn-theme En savoir plus
                    %button#modalActivate.btn.btn-danger{"data-target" => "#exampleModalPreview", "data-toggle" => "modal", :type => "button"}
                      Launch demo modal
                    #exampleModalPreview.modal.fade.right{"aria-hidden" => "true", "aria-labelledby" => "exampleModalPreviewLabel", :role => "dialog", :tabindex => "-1"}
                      .modal-dialog.momodel.modal-fluid{:role => "document"}
                        .modal-content
                          .modal-header.text-center
                            %h5#exampleModalPreviewLabel.modal-title.w-100 Material Design  Full Screen Modal
                            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                              %span{"aria-hidden" => "true", :style => "font-size: 1.3em;"}
                          .modal-body
                            %h1.section-heading.text-center.wow.fadeIn.my-5.pt-3 Not for money, but for humanity
