#skills.section
  .container
    .skills-section
      .row
        .wow.pulse{:class => "col-lg-6 ", "data-wow-offset" => "500"}
          .about.section-about
            = image_tag "skills.jpg"
            .layer-skills
        .col-lg-6
          .section-skills
            %h5.title-sm languages
            %h3.title-lg.dark Mes Comp&#xE9;tences techniques
            %p
              Sp&#xE9;cialisation
              %span.theme-dark.text-bold Ruby On rails
              \&#xE0; travers divers projets en entreprise grace &#xE0; son c&#xF4;t&#xE9;
              Souple, dynamique, productif dot&#xE9; d'outils complets.
            .section-progress
              %span HTML  CSS
              %span.percent 90%
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :percent => "90", :role => "progressbar", :style => "width: 90%"}
            .section-progress
              %span JS  JQuery  Ajax
              %span.percent 70%
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :percent => "70", :role => "progressbar", :style => "width: 70%"}
            .section-progress
              %span Bootstrap
              %span.percent 80%
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :percent => "80", :role => "progressbar", :style => "width: 80%"}
            .section-progress
              %span Ruby On Rails
              %span.percent 70%
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :percent => "70", :role => "progressbar", :style => "width: 70%"}
            .section-progress
              %span MySql
              %span.percent 75%
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :percent => "75", :role => "progressbar", :style => "width: 75%"}
            .section-progress
              %span GIT
              %span.percent 80%
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :percent => "80", :role => "progressbar", :style => "width: 80%"}
