.quality-card
  = image_tag "design2.jpg", class: 'quality-img'
  %h5.title
    Design unique
    %br et adapt&#xE9;
  .quality-content
    %p.text
      L'aspect graphique est d&#xE9;terminant afin de se distinguer et d'optimiser sa navigation sur la toile.
      Chaque d&#xE9;tail compte : le choix des couleurs, le style des ic&#xF4;nes et des boutons, la typographie ainsi que les illustrations.
      Cet univers graphique unique permet de refl&#xE9;ter au mieux votre identit&#xE9; et vos valeurs.
#quality {
  height: auto;
  width: auto;
  /* position: relative; */
  background: url("../images/minimal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 60px;
}

.quality-background {
  /* background: #084666; */
  padding: 100px 0px 300px 0px;
}




.quality-img:hover {
  background: #FFF;
}


.quality-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background:  #4e7c97;
}

.quality-card:hover .quality-content  {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  padding: 40px;
  top: 50%;
  line-height: 2em;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
